<div class="form-group">
    <button style="width:15%" *ngIf="showButton;
    else dugmeJeIskljuceno"
    (click)="onPrijaviSe()" >PRIJAVI SE</button>

    <button style="width:15%" *ngIf="showButton">REGISTRUJ SE</button>



    <ng-template #dugmeJeIskljuceno>
 <div *ngIf="successLog">
    <label *ngIf="showUser2" class = "showLabel">Oba polja su obavezna!</label>
    <label *ngIf="showUser3" class = "showLabel">Pogresan username ili password!</label>
    <br>
      <label>username:</label>
      <br>
       <input type="text"
              id="username"
              class="form-control"
               #user>
       <br>
       <br>
       <label>password:</label>
       <br>
       <input type="text"
                     id="password"
                     class="form-control"
                     #pass>
        <br>
        <br>
        <button
        (click)="onLogIn(user.value, pass.value)">LOG IN</button>
 </div>
    </ng-template>
    <p *ngIf="showUser"> {{username}} </p>
    <p *ngIf="showUser"> {{password}} </p>


   </div>

