body {
  text-align: left;
  align-items: center;
  background-color: black

}
div {

  text-align: center;
  align-items:center;
  align-content: center;
  background-color: black;
  color: bisque

}


h1 {
  color:white;
  font-size: 40px;
}
.centar {
  background-color: black;
}

.cite {
margin: 8%;
text-align: left;
font-family: cursive;
font-size: 24px;
background-color:black;
color:whitesmoke
}

.author {
text-align: right;
padding-right:10px;
padding-bottom: 10px;
font-family: initial;
font-size: 18px;
}
