<div class="event">
  <br>

  <table style="width:90%">
  <tr>
      <td style="text-align:left" [ngSwitch]="getTipMuzike()">
         <img *ngSwitchCase="'tehno'" class="pic" style="widows:250px; ; height:190px" src="./../../assets/techno.png">
         <img *ngSwitchCase="'pop'" class="pic" style="width:250px; height:190px" src="./../../assets/pop.jpeg">
          <img *ngSwitchCase="'rok'" class="pic" style="width:250px; height:190px" src="./../../assets/rock.jpg">

            </td>
  <td style="text-align:center">
  <label class = "input"> {{getNaziv()}} </label>
  <br>
  <br>

  <label class="input"> {{getDatum()}} </label>
  <br>
  <br>

  <label class = "input"> {{getTipMuzike()}} </label>
  <br>
  <br>

  <button class = "btn"><strong>DETALJI</strong></button>
  </td>
  </tr>
  </table>

  <br>
  </div>

