
<div>
  Ime
  <input type="text" #name>
  <span class="error">{{errorMessageName}}</span>
  <br>
  Prezime
  <input type="text" #surname>
  <span class="error">{{errorMessageSurname}}</span>
  <br>
  Korisnicko ime:
  <input type="text" #username>
  <span class="error">{{errorMessageUsername}}</span>
  <br>
  Lozinka:
  <input type="text" #password>
  <span class="error">{{errorMessagePassword}}</span>
  <br>
  Ponovo unesi lozinku:
  <input type="text" #passwordAgain>
  <span class="error">{{errorMessagePassword2}}</span>
  <br>
</div>
<button (click)="onSubmit(name.value,surname.value,username.value,password.value,passwordAgain.value)"> Sacuvaj</button>

{{korisnik}}


