<div class="centar">
  <app-giphy-gallery [selected]="currentType"></app-giphy-gallery>

  <p style="color:#00565B">
    Na nasem sajtu mozete rezervisati karte za sve svirke u Beogradu.
    Da biste mogli da izvrsite rezervaciju morate imati otvoren nalog na nasem sajtu.
    Ukoliko nemate nalog registrujte se </p>

  <app-log-in-form></app-log-in-form>

  <div class="cite">
    Ko je imao sreće da se jutros probudi u Beogradu,
    može se smatrati da je za danas dovoljno postigao u životu.
    Svako dalje insistiranje na još nečemu, bilo bi neskromno.


    <p class="author">(Duško Radović)</p>
  </div>
  <div class="cite">
    Kad je Korbizije rekao za Beograd da je najružniji grad na najlepšem mestu,

    imao je pred sobom rezultate tih viševekovnih rušenja.
    Oni danas koji vole i poznaju ovaj grad, ne poznaju ga na osnovu onoga što su u njemu videli
    ili dotakli. Njegov najveći i možda najlepši deo je onaj koji je netragom nestao,
    pa ga više nikada nećemo videti, snimiti ili dodirnuti.
    Ali, istoriji pripada i onaj njen nestali deo, koji se više nikada neće moći rekonstruisati,
    onaj deo istorije koji se nalazi u nama, a ne u svetu oko nas.
    <br>
    Očigledno, Korbizijeov najružniji grad na najlepšem mestu,
    kroz istoriju je bio veoma često najlepši grad na najstrašnijem mestu sveta.
    U zaključku, mogli bismo parafrazirati ‘Njujork Tajms’ iz daleke 1876. godine.
    Da se na turskom pohodu u Evropu nije isprečila Srbija sa Beogradom (koji je tada sravnjen sa zemljom),
    danas bi svakako kao on izgledali Nemačka i Francuska, Beč, Minhen i Marsej.


    <p class="author">(Milorad Pavić)</p>
  </div>

  <div class="cite">
    Beograd je opet ogrejalo sunce, jer niko drugi nije hteo.

    <p class="author">(Duško Radović)</p>
  </div>
  <div class="cite">
    Ko je imao sreće da se jutros probudi u Beogradu,
    može se smatrati da je za danas dovoljno postigao u životu.
    Svako dalje insistiranje na još nečemu, bilo bi neskromno.


    <p class="author">(Duško Radović)</p>
  </div>

  <!-- <div class="cite">
    … došavši, nađoh najkrasnije mesto od davnine, preveliki grad Beograd,
    koji je po slučaju razrušen i zapusteo, sazdah ga i posvetih Bogomateri…


    <p class="author">(Despot Stefan Lazarević)</p>
  </div>

  <div class="cite">
    U Beogradu sam prvi put (1973). Došao sam i zato što nikad još nisam bio u ovoj sredini,
    na istoku Evrope. Za kratko vreme sam utvrdio dve stvari, za mene vrlo važne: jede se izvrsno,
    a pristup filmovima je mnogo intelektualniji nego u Americi.


    <p class="author">(Džek Nikolson)</p>

  </div>

  <div class="cite">
    Koliko ste vi tek imali da gradite kad se zna da su bombardovali i Nemci i saveznici.
    Lako je drugim velikim gradovima Evrope da se hvale svojom lepotom… Imate lep mali zoo-vrt…
    Kazali su mi da je u vreme bombardovanja i zoološki vrt bio porušen i da su životinje bile
    pobegle na ulice, ali da su se same vratile nazad… Stvarno lepa priča – ne znam da li je istinita…


    <p class="author">(Alfred Hičkok)</p>

  </div>
  <div class="cite">
    Posebno sam impresioniran vedrom i toplom atmosferom Beograda.

    <p class="author">(Semjuel Beket)</p>

  </div>
  <div class="cite">
    Tada su mi bili potrebni susreti s ljudima koji me neće tretirati površno kao što mi se to kod nas dešavalo,
    s ljudima koji satima sede za stolom i druže se, pevaju neke pesme i uvek imaju strašno mnogo da kažu.
    Taj beogradski period je prosto izlečio moju dušu…

    <p class="author">(Erskin Koldvel)</p>

  </div>

  <div class="cite">
    …nađoh najkrasnije mesto od davnine, preveliki grad Beograd…
    <p class="author">(Despot Stefan Lazarević)</p>

  </div> -->


</div>
