 <nav>
  <a routerLink="/logIn" routerLinkActive="active">Log in</a>
  <a routerLink="/registration" routerLinkActive="active">Registracija</a>
  <a routerLink="/admin" routerLinkActive="active" *ngIf="showAdminPage">Admin strana</a>
  <a routerLink="/home" routerLinkActive="active" *ngIf="showUserPage" >Pocetna</a>
  <a routerLink="/myTickets" routerLinkActive="active" *ngIf="showUserPage" >Moje karte</a>
</nav>


<a [routerLink]="['/logIn']" *ngIf="showIfLoggedIn">
<button style="position:fixed;bottom: 50%;width:9.5%;left: 0px;" (click)="logOut()">Log out</button>
</a>
<router-outlet #routerOutlet="outlet"></router-outlet>

